<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hpass.mapper.CouponMapper">

    <select id="selectMyAllCoupon" resultType="com.hyundai.hpass.dto.MyCouponDTO">
        SElECT
            h.coupon_history_no AS couponHistoryNo,
            h.coupon_no AS couponNo,
            h.member_no AS memberNo,
            h.coupon_is_used AS couponIsUsed,
            c.coupon_brand AS couponBrand,
            c.coupon_content AS couponContent,
            TO_CHAR(c.coupon_start_dt, 'YYYY-MM-DD') AS couponStartDate,
            TO_CHAR(c.coupon_end_dt, 'YYYY-MM-DD') AS couponEndDate,
            s.store_img AS couponImage
        FROM coupon_history h
                 INNER JOIN coupon c
                            ON h.coupon_no = c.coupon_no
                 LEFT JOIN store s
                           ON c.coupon_brand = s.store_brand
        WHERE h.member_no = #{memberNo}
        ORDER BY h.coupon_is_used, c.coupon_end_dt DESC
    </select>

    <select id="selectMyCoupon" resultType="com.hyundai.hpass.dto.CouponHistoryDTO">
        SELECT
            coupon_history_no AS couponHistoryNo,
            coupon_no AS couponNo,
            member_no AS memberNo,
            coupon_is_used AS couponIsUsed,
            coupon_used_dt AS couponUsedDt
        FROM coupon_history
        WHERE coupon_no = #{couponNo} AND member_no = #{memberNo}
    </select>

    <insert id="insertCoupon">
        INSERT INTO coupon_history(coupon_history_no, coupon_no, member_no, coupon_is_used)
        VALUES (coupon_history_seq.NEXTVAL, #{couponNo}, #{memberNo}, 0)
    </insert>

    <insert id="insertCouponByStore">
        INSERT INTO coupon_history (coupon_history_no, coupon_no, member_no, coupon_is_used)
        SELECT coupon_history_seq.NEXTVAL, c.coupon_no, #{memberNo}, 0
        FROM coupon c
                 INNER JOIN (
            SELECT store_brand
            FROM store
            WHERE store_no = #{storeNo}
        ) s ON c.coupon_brand = s.store_brand
        WHERE EXISTS (
            SELECT 1
            FROM coupon
            WHERE coupon_no = c.coupon_no
              AND coupon_brand = s.store_brand
              AND coupon_content = '전제품 10% 할인'
        )
    </insert>

    <select id="getUnusedCouponNum" resultType="java.lang.Integer">
        SELECT COUNT(coupon_history_no)
        FROM coupon_history
        WHERE coupon_used_dt IS NULL
    </select>

    <select id="getAllIssuedCoupons" resultType="com.hyundai.hpass.dto.IssueCouponDTO">
        SELECT couponHistoryNo, couponNo, memberNo, couponIsUsed, couponUsedDt, couponBrand, couponContent FROM
            (SELECT
                 CH.coupon_history_no AS couponHistoryNo,
                 CH.coupon_no AS couponNo,
                 CH.member_no AS memberNo,
                 CASE
                     WHEN CH.coupon_is_used = '1' THEN '사용 완료'
                     WHEN CH.coupon_is_used = '0' THEN '미사용'
                     ELSE '기타 상태'
                     END AS couponIsUsed,
                 CH.coupon_used_dt AS couponUsedDt,
                 C.coupon_brand AS couponBrand,
                 C.coupon_content AS couponContent
             FROM coupon_history CH
                      INNER JOIN coupon C
                                 ON CH.coupon_no = C.coupon_no
             ORDER BY CH.coupon_history_no DESC)
        FETCH FIRST 500 ROWS ONLY
    </select>

    <select id="getAllUsedCoupons" resultType="com.hyundai.hpass.dto.CouponDTO">
        SELECT
            coupon_no AS couponNo,
            member_no AS memberNo,
            CASE
                WHEN coupon_is_used = '1' THEN '사용 완료'
                ELSE '기타 상태'
                END AS couponIsUsed,
            coupon_used_dt AS couponUsedDt
        FROM coupon_history
        WHERE coupon_is_used = '1'
    </select>

    <update id="useCoupon">
        UPDATE coupon_history
        SET
            coupon_is_used = '1',
            coupon_used_dt = TO_DATE(#{date}, 'YYYY-MM-DD')
        WHERE member_no = #{memberNo} AND coupon_no = #{couponNo}
    </update>

    <insert id="insertCouponBySubscription">
        INSERT INTO coupon_history (coupon_history_no, coupon_no, member_no, coupon_is_used)
        SELECT coupon_history_seq.NEXTVAL, c.coupon_no, #{memberNo}, 0
        FROM coupon c
        WHERE c.coupon_brand = 'H.Pass 구독자 전용'
          AND c.coupon_content = '전시회 50% 할인'
    </insert>
    <select id="getAllCoupon" resultType="com.hyundai.hpass.domain.Coupon">
        SELECT
            coupon_no AS couponNo,
            coupon_brand AS couponBrand,
            coupon_content AS couponContent,
            TO_CHAR(coupon_start_dt, 'YYYY . MM . DD') AS couponStartDt,
            TO_CHAR(coupon_end_dt, 'YYYY . MM . DD') AS couponEndDt
        FROM coupon
    </select>
    <insert id="insertCouponAdmin" parameterType="com.hyundai.hpass.domain.Coupon">
        INSERT INTO coupon (
        coupon_no,
        coupon_brand,
        coupon_content,
        coupon_start_dt,
        coupon_end_dt
        ) VALUES (
        coupon_seq.nextval,
        #{couponBrand},
        #{couponContent},
        TO_DATE(#{couponStartDt},'YYYY-MM-DD'),
        TO_DATE(#{couponEndDt}, 'YYYY-MM-DD')
        )
    </insert>
    <delete id="deleteCoupon"
            parameterType="java.lang.Integer">
        DELETE
        FROM coupon
        WHERE coupon_no = #{couponNo}
    </delete>
</mapper>