<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hpass.mapper.CouponMapper">

    <select id="selectMyAllCoupon" resultType="com.hyundai.hpass.dto.MyCouponDTO">
        SElECT
            h.coupon_history_no AS couponHistoryNo,
            h.coupon_no AS couponNo,
            h.member_no AS memberNo,
            h.coupon_is_used AS couponIsUsed,
            c.coupon_brand AS couponBrand,
            c.coupon_content AS couponContent,
            TO_CHAR(c.coupon_start_dt, 'YYYY-MM-DD') AS couponStartDate,
            TO_CHAR(c.coupon_end_dt, 'YYYY-MM-DD') AS couponEndDate,
            s.store_img AS couponImage
        FROM coupon_history h
        INNER JOIN coupon c
        ON h.coupon_no = c.coupon_no
        LEFT JOIN store s
        ON c.coupon_brand = s.store_brand
        WHERE h.member_no = #{memberNo} AND h.coupon_is_used = '0'
    </select>

    <select id="selectMyCoupon" resultType="com.hyundai.hpass.dto.CouponHistoryDTO">
        SELECT
            coupon_history_no AS couponHistoryNo,
            coupon_no AS couponNo,
            member_no AS memberNo,
            coupon_is_used AS couponIsUsed,
            coupon_used_dt AS couponUsedDt
        FROM coupon_history
        WHERE coupon_no = #{couponNo} AND member_no = #{memberNo}
    </select>

    <insert id="insertCoupon">
        INSERT INTO coupon_history(coupon_history_no, coupon_no, member_no, coupon_is_used)
        VALUES (coupon_history_seq.NEXTVAL, #{couponNo}, #{memberNo}, 0)
    </insert>

    <select id="getUnusedCouponNum" resultType="java.lang.Integer">
        SELECT COUNT(coupon_history_no)
        FROM coupon_history
        WHERE coupon_used_dt IS NULL
    </select>
    
    <!-- 작성자: 황수연 - coupon_history 전체 조회 -->
    <select id="getAllIssuedCoupons" resultType="com.hyundai.hpass.dto.CouponHistoryDTO">
        SELECT
            coupon_no AS couponNo,
            member_no AS memberNo,
            coupon_is_used AS couponIsUsed,
            coupon_used_dt AS couponUsedDt
        FROM coupon_history
    </select>
    
    <!-- 작성자: 황수연 - 사용된 쿠폰 전체 조회 -->
    <select id="getAllUsedCoupons" resultType="com.hyundai.hpass.dto.CouponHistoryDTO">
        SELECT
            coupon_no AS couponNo,
            member_no AS memberNo,
            coupon_is_used AS couponIsUsed,
            coupon_used_dt AS couponUsedDt
        FROM coupon_history
        WHERE coupon_is_used = '1'
    </select>
</mapper>