<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hpass.mapper.PopUpBookingMapper">

	<!-- 팝업스토어 기간 내 모든 예약 정보 내역 불러오기 -->
	<select id="getBookingsWithinPopupPeriod"
		resultType="com.hyundai.hpass.dto.PopUpBookingDTO"
		parameterType="com.hyundai.hpass.dto.PopUpBookingDTO">
		SELECT 
			b.popup_no AS popupNo, 
			b.booking_time AS bookingTime, 
			b.booking_dt AS bookingDt
		FROM booking b
		JOIN popup p ON b.popup_no = p.popup_no
		WHERE p.popup_no = #{popupNo}
			AND p.popup_start_dt = #{popupStartDt}
			AND p.popup_end_dt = #{popupEndDt}
	</select>

	<!-- 특정 날짜와 시간에 해당하는 예약 정보 내역 불러오기 -->
	<select id="getBookingByDateTime"
		resultType="com.hyundai.hpass.dto.PopUpBookingDTO"
		parameterType="com.hyundai.hpass.dto.PopUpBookingDTO">
		SELECT 
			popup_no AS popupNo, 
			booking_time AS bookingTime, 
			booking_dt AS bookingDt 
		FROM booking
		WHERE popup_no = #{popupNo} 
			AND booking_dt = #{bookingDt} 
			AND booking_time = #{bookingTime}
	</select>

	<!-- 예약하기 -->
	<insert id="insertBooking"
		parameterType="com.hyundai.hpass.dto.PopUpBookingDTO">
		<selectKey keyProperty="bookingNo" resultType="int" order="BEFORE">
			SELECT 
				booking_seq.NEXTVAL 
			FROM DUAL
		</selectKey>
		INSERT INTO booking(booking_no, member_no, popup_no, booking_time, booking_dt)
		SELECT 
			#{bookingNo}, 
			#{memberNo}, 
			#{popupNo},
			#{bookingTime}, 
			#{bookingDt} 
		FROM DUAL
		WHERE NOT EXISTS (
			SELECT 1 
			FROM booking
			WHERE popup_no = #{popupNo} 
				AND booking_dt = #{bookingDt} 
				AND booking_time = #{bookingTime}
				AND member_no = #{memberNo}
		)
	</insert>

	<!-- 중복 예약 방지 -->
	<select id="isBookingAvailable"
		parameterType="com.hyundai.hpass.dto.PopUpBookingDTO">
		SELECT CASE
		WHEN COUNT(*) = 0 THEN 1
		ELSE 0
		END AS is_available
		FROM booking
		WHERE popup_no = #{popupNo} 
			AND booking_dt = #{bookingDt} 
			AND booking_time = #{bookingTime}
	</select>

	<!-- 예약 행을 선점 잠금으로 설정하여 트랜잭션 처리 -->
	<select id="lockBookingRow"
		parameterType="com.hyundai.hpass.dto.PopUpBookingDTO"
		resultType="com.hyundai.hpass.dto.PopUpBookingDTO">
		SELECT 
			booking_no AS bookingNo, 
			member_no AS memberNo, 
			popup_no AS popupNo,
			booking_time AS bookingTime, 
			booking_dt AS bookingDt
		FROM booking
		WHERE popup_no = #{popupNo}
			AND booking_dt = #{bookingDt}
			AND booking_time = #{bookingTime}
		FOR UPDATE NOWAIT
	</select>

	<!-- 나의 예약 조회 -->
	<select id="getMyBooking"
		resultType="com.hyundai.hpass.dto.PopUpBookingDTO">
		SELECT
		    b.booking_no AS bookingNo,
		    b.member_no AS memberNo,
		    b.popup_no AS popupNo,
		    b.booking_time AS bookingTime,
			b.booking_dt AS bookingDt,
			p.popup_name AS popupName,
			p.popup_img AS popupImg
		FROM booking b
		INNER JOIN popup p ON b.popup_no = p.popup_no
		WHERE b.member_no = #{member} AND TO_DATE(b.booking_dt, 'YYYY-MM-DD') - TO_DATE(#{date}, 'YYYY-MM-DD') >= 0
		ORDER BY b.booking_dt DESC, b.booking_time DESC
	</select>

	<!-- 나의 예약 취소 -->
	<delete id="deleteMyBookingList" parameterType="java.lang.Integer">
		DELETE
		FROM booking
		WHERE booking_no = #{bookingNo}
	</delete>

	<!-- 전체 조회(페이지 나눈 후) -->
	<select id="list"
		resultType="com.hyundai.hpass.dto.PopUpBookingDTO">
		<![CDATA[
	    SELECT *
		FROM (
		    SELECT rownum rnum, B.*
		    FROM (
		        SELECT 
			        b.popup_no AS popupNo, 
			        b.booking_time AS bookingTime, 
			        b.booking_dt AS bookingDt, 
			        b.member_no AS memberNo, 
			        b.booking_no AS bookingNo, 
			        p.popup_name AS popupName
		        FROM booking b
		        JOIN popup p ON b.popup_no = p.popup_no
		        ORDER BY b.booking_dt DESC
		    ) B
		    WHERE rownum <= #{page} * #{amount}
		)
		WHERE rnum > (#{page} - 1) * #{amount}
	    ]]>
	</select>

	<!-- 전체 게시물 개수: totalCnt -->
	<select id="totalCnt" resultType="java.lang.Integer">
		SELECT count(booking_no) 
		FROM booking
		WHERE
		<include refid="criteria"></include>
		booking_no > 0
	</select>

	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		</trim>
	</sql>
	
	<select id="getAllPopups" resultType="com.hyundai.hpass.dto.PopUpBookingDTO">
        SELECT 
	        popup_no AS popupNo,
	        popup_name AS popupName
        FROM popup
    </select>
    
    <select id="getCountBooking" resultType="com.hyundai.hpass.dto.PopUpBookingDTO">
        SELECT 
	        p.popup_name AS popupName, 
	        COUNT(b.booking_no) AS bookingCount 
        FROM booking b 
        JOIN popup p ON b.popup_no = p.popup_no 
        GROUP BY p.popup_name
    </select>


	<resultMap id="popUpBookingResult" type="com.hyundai.hpass.dto.PopUpBookingDTO" />

	<select id="getPopUpBooking" statementType="CALLABLE" parameterType="com.hyundai.hpass.vo.PopUpBookingCheckVO">
		{call get_popup_booking(
				#{memberNo, mode=IN, jdbcType=DECIMAL},
				#{popUpNo, mode=IN, jdbcType=DECIMAL},
				#{bookingDate, mode=IN, jdbcType=VARCHAR},
		        #{result, mode=OUT, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=popUpBookingResult}
		      )}
	</select>

    
    <select id="isDuplicateBooking"
		resultType="boolean">
		SELECT 
			COUNT(member_no)
		FROM booking
		WHERE popup_no = #{popupNo}
		    AND booking_dt = #{bookingDt}
		    AND member_no = #{memberNo}
	</select>

	<!-- 전체 조회(페이지 나눈 후) -->
	<select id="getAllBooking"
			resultType="com.hyundai.hpass.dto.AdminPopupBookingDTO">
		SELECT
			b.popup_no AS popupNo,
			b.booking_time AS bookingTime,
			b.booking_dt AS bookingDt,
			b.member_no AS memberNo,
			b.booking_no AS bookingNo,
			p.popup_name AS popupName
		FROM booking b
				 JOIN popup p ON b.popup_no = p.popup_no
		ORDER BY b.booking_dt DESC
	</select>
</mapper>