<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hpass.mapper.PopUpStoreMapper">
    <select id="getAllPopUpStore" resultType="com.hyundai.hpass.dto.PopUpStoreDTO">
        SELECT
            popup_no AS productNo,
            popup_name AS popUpName,
            popup_start_dt AS popUpStartDate,
            popup_end_dt AS popUpEndDate,
            popup_loc AS pupUpLocation,
            popup_img AS popUpImage
        FROM popup
    </select>
</mapper>