<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hpass.mapper.ProductMapper">
    <select id="selectAllProduct" resultType="com.hyundai.hpass.domain.Product">
        SELECT
            product_no AS productNo,
            product_brand AS productBrand,
            product_name AS productName,
            product_img AS productImg,
            stock AS stock,
            TO_CHAR(receive_dt, 'YYYY . MM . DD') AS receiveDt,
            receive_loc AS receiveLoc
        FROM product
        where receive_dt <![CDATA[>=]]> SYSDATE
    </select>

    <update id="updateProductStock">
        UPDATE product
        SET stock = stock - 1
        WHERE product_no = #{productNo}
    </update>

    <insert id="insertProductHistory" parameterType="java.util.Map">
        INSERT INTO product_history(product_history_no, member_no, product_no, product_history_dt, product_status)
        VALUES (product_history_seq.NEXTVAL, #{memberNo}, #{productNo}, SYSDATE, 'false')
    </insert>

    <select id="selectValidUserHistory" parameterType="java.lang.Long" resultType="com.hyundai.hpass.domain.ProductHistory">
        SELECT
            product_history_no AS productHistoryNo,
            product_no AS productNo,
            member_no AS memberNo,
            product_history_dt,
            product_status AS productStatus
        FROM product_history
        WHERE product_status = 'false' AND member_no = #{memberNo}
    </select>

    <select id="selectProductReceiveDt" parameterType="java.lang.Long" resultType="java.time.LocalDate">
        SELECT receive_dt
        FROM product
        WHERE product_no = #{productNo}
    </select>

    <select id="selectProductInfo" parameterType="java.lang.Long" resultType="com.hyundai.hpass.domain.Product">
        SELECT
            product_no AS productNo,
            product_brand AS productBrand,
            product_name AS productName,
            product_img AS productImg,
            stock AS stock,
            receive_dt AS receiveDt,
            receive_loc AS receiveLoc
        FROM product
        WHERE product_no = #{productNo}
    </select>

    <update id="updateProductHistoryStatus">
        UPDATE product_history
        SET product_status = #{status}
        WHERE product_history_no = #{productHistoryNo}
    </update>

    <select id="selectMemberName" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT member_name
        FROM member
        WHERE member_no = #{member_no}
    </select>

    <update id="updateCancelProductStock">
        UPDATE product
        SET stock = stock + 1
        WHERE product_no = #{productNo}
    </update>
    
    <!-- 작성자: 황수연 - product_history 전체 조회 -->
    <select id="getProductHistory" resultType="com.hyundai.hpass.dto.ProductHistoryDTO">
        <![CDATA[
		    SELECT *
		    FROM (
		        SELECT rownum rnum, B.*
		        FROM (
		            SELECT
		                product_history_no AS productHistoryNo,
		                member_no AS memberNo,
		                product_no AS productNo,
		                product_history_dt AS productHistoryDt,
		                CASE
		                    WHEN product_status = 'true' THEN '수령 완료'
		                    WHEN product_status = 'false' THEN '미수령'
		                    WHEN product_status = 'cancel' THEN '신청 취소'
		                    ELSE '기타 상태'
		                END AS productStatus
		            FROM product_history
		            ORDER BY product_history_dt DESC
		        ) B
		        WHERE rownum <= #{page} * #{amount}
		    )
		    WHERE rnum > (#{page} - 1) * #{amount}
		]]>
    </select>
    
    <!-- product_history 게시물 개수: totalCnt -->
	<select id="totalCnt" resultType="java.lang.Integer">
		select count(product_history_no) 
		from product_history
		where
		<include refid="criteria"></include>
		product_history_no > 0
	</select>
    
    <!-- 작성자: 황수연 - product 수령한 사람 전체 조회 -->
    <select id="getReceiveHistory" resultType="com.hyundai.hpass.dto.ProductHistoryDTO">
        <![CDATA[
	    SELECT *
		FROM (
		    SELECT rownum rnum, B.*
		    FROM (
		        SELECT 
				  product_history_no AS productHistoryNo,
				  member_no AS memberNo,
				  product_no AS productNo,
				  product_history_dt AS productHistoryDt,
            	  CASE
		              WHEN product_status = 'true' THEN '수령 완료'
		              ELSE '기타 상태'
		          END AS productStatus
				FROM product_history
				WHERE product_status = 'true'
				ORDER BY product_history_dt DESC
		    ) B
		    WHERE rownum <= #{page} * #{amount}
		)
		WHERE rnum > (#{page} - 1) * #{amount}
	    ]]>
    </select>
    
    <!-- 작성자: 황수연 - 이번 달에 product 수령한 사람수 -->
    <select id="getCountProduct" resultType="com.hyundai.hpass.dto.ProductHistoryDTO">
        <![CDATA[
        WITH all_dates AS (
		    SELECT TRUNC(SYSDATE, 'MM') + LEVEL - 1 AS all_dates
		    FROM DUAL
		    CONNECT BY LEVEL <= TRUNC(SYSDATE) - TRUNC(SYSDATE, 'MM') + 1
		)
		SELECT
		    TO_CHAR(ad.all_dates, 'YYYY-MM-DD') AS productHistoryDt,
		    COUNT(ph.product_history_no) AS dailyProductCount
		FROM
		    all_dates ad
		LEFT JOIN
		    product_history ph ON TO_CHAR(ph.product_history_dt, 'YYYY-MM-DD') = TO_CHAR(ad.all_dates, 'YYYY-MM-DD')
		WHERE
		    (ph.product_status = 'true' OR ph.product_status IS NULL)
		GROUP BY
		    TO_CHAR(ad.all_dates, 'YYYY-MM-DD')
		ORDER BY
		    TO_CHAR(ad.all_dates, 'YYYY-MM-DD') ASC
    	]]>
    </select>
    
    <select id="getSumProduct" resultType="com.hyundai.hpass.dto.ProductHistoryDTO">
    	SELECT cumulativeProductCount
		FROM (
		    SELECT
		        productHistoryDt,
		        dailyProductCount,
		        SUM(dailyProductCount) OVER (ORDER BY TO_DATE(productHistoryDt, 'YYYY-MM-DD')) AS cumulativeProductCount,
		        ROW_NUMBER() OVER (ORDER BY TO_DATE(productHistoryDt, 'YYYY-MM-DD') DESC) AS row_num
		    FROM (
		        SELECT
		            TO_CHAR(product_history_dt, 'YYYY-MM-DD') AS productHistoryDt,
		            COUNT(product_history_no) AS dailyProductCount
		        FROM product_history
		        WHERE product_status = 'true' AND TO_CHAR(product_history_dt, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
		        GROUP BY TO_CHAR(product_history_dt, 'YYYY-MM-DD')
		    ) subquery
		) final_query
		WHERE row_num = 1
    </select>
    
    <sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		</trim>
	</sql>
    <insert id="insertProduct" parameterType="com.hyundai.hpass.domain.Product">
        INSERT INTO product (
            product_no,
            product_brand,
            product_name,
            product_img,
            stock,
            receive_dt,
            receive_loc
        ) VALUES (
                     product_seq.nextval,
                     #{productBrand},
                     #{productName},
                     #{productImg},
                     #{stock},
                     TO_DATE(#{receiveDt},'YYYY-MM-DD'),
                     #{receiveLoc}
                 )
    </insert>
    <delete id="deleteProduct"
            parameterType="java.lang.Integer">
        DELETE
        FROM product
        WHERE product_no = #{productNo}
    </delete>

    <select id="getRegisterList" resultType="com.hyundai.hpass.dto.AdminRegisterProductDTO">
        SELECT
            PH.product_history_no AS productHistoryNo,
            PH.member_no AS memberNo,
            PH.product_no AS productNo,
            TO_CHAR(PH.product_history_dt, 'YYYY. MM. DD') AS productHistoryDt,
            CASE
                WHEN product_status = 'true' THEN '수령 완료'
                WHEN product_status = 'false' THEN '미수령'
                WHEN product_status = 'cancel' THEN '신청 취소'
                ELSE '기타 상태'
                END AS productStatus,
            P.product_name AS productName,
            TO_CHAR(P.receive_dt, 'YYYY. MM. DD') AS receiveDt
        FROM
            product_history PH
                INNER JOIN product P
                           ON PH.product_no = P.product_no
    </select>
</mapper>