<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hpass.mapper.StoreMapper">
    <select id="selectOneForFloor" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT storeNo
        FROM (
            SELECT store_no AS storeNo
            FROM Store
            WHERE store_floor = #{Floor}
            ORDER BY DBMS_RANDOM.RANDOM()
        )
        WHERE ROWNUM = 1
    </select>

    <insert id="insertTodayStore" parameterType="java.lang.Long">
        INSERT INTO TODAY_STORE(today_store_no, store_no, today_store_dt)
        VALUES (today_store_seq.NEXTVAL, #{floor}, SYSDATE)
    </insert>

    <select id="selectTodayStore" resultType="java.lang.Long">
        SELECT distinct (store_no)
        FROM today_store
        WHERE TRUNC(today_store_dt) = TRUNC(SYSDATE)
    </select>

    <select id="selectFloorByStoreNo" parameterType="java.lang.Long">
        SELECT store_floor
        FROM store
        WHERE store_no = #{storeNo}
    </select>

    <delete id="deleteTodayStore" parameterType="java.lang.Long">
        DELETE FROM today_store
        WHERE store_no = #{storeNo} AND TRUNC(today_store_dt) = TRUNC(SYSDATE)
    </delete>

    <select id="memberOfTodayStore" parameterType="java.lang.Long">
        SELECT member_no
        FROM today_store
        WHERE store_no = #{storeNo} AND TRUNC(today_store_dt) = TRUNC(SYSDATE)
    </select>

    <select id="selectTodayStoreInfo" parameterType="java.lang.Long">
        SELECT
            store_no AS storeNo,
            store_brand AS storeBrand,
            store_floor AS storeFloor,
            store_img AS storeImg,
            store_map AS storeMap
        FROM store
        WHERE store_no = #{storeNo}
    </select>

    <insert id="insertTodayStoreMember" parameterType="java.util.Map">
        INSERT INTO TODAY_STORE(today_store_no, store_no, today_store_dt, member_no)
        VALUES (today_store_seq.NEXTVAL, #{storeNo}, SYSDATE, #{memberNo})
    </insert>

    <select id="memberStoreVisitNum" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT count(today_store_no)
        FROM today_store
        WHERE member_no = #{memberNo} AND TRUNC(today_store_dt) = TRUNC(SYSDATE)
    </select>

    <select id="memberFloor" parameterType="java.lang.Long">
        SELECT a.store_floor
        FROM store a INNER JOIN today_store b ON a.store_no = b.store_no
        WHERE b.member_no = #{memberNo} AND trunc(SYSDATE) = trunc(b.today_store_dt)
        ORDER BY b.today_store_dt
    </select>


    <!-- 작성자: 황수연 - 오늘의 매장 조회 -->
    <select id="getTodayStore" resultType="com.hyundai.hpass.dto.TodayVisitStore">
        SELECT
		    t.store_no AS storeNo,
		    s.store_brand AS storeBrand
		FROM today_store t
		JOIN store s ON t.store_no = s.store_no
		AND t.member_no IS NULL
		AND TRUNC(t.today_store_dt) = TRUNC(SYSDATE)
		ORDER BY storeNo ASC
    </select>
    
    <!-- 작성자: 황수연 - 방문한 매장 조회 -->
    <select id="getVisitStore" resultType="com.hyundai.hpass.dto.TodayVisitStore">
        SELECT
            today_store_no AS todayStoreNo,
            store_no AS storeNo,
            today_store_dt AS todayStoreDt,
            member_no AS memberNo
        FROM today_store
        WHERE member_no IS NOT NULL
        AND TRUNC(today_store_dt) = TRUNC(SYSDATE)
    </select>
</mapper>
