<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hpass.mapper.SubscriptionMapper">


    <insert id="addSubscriber">
        INSERT INTO SUBSCRIPTION (
        subs_no,
        member_no,
        payment
        ) VALUES (
        subs_seq.nextval,
        #{memberNo},
        #{payment}
        )
    </insert>
    <select id="findByMemberNo" resultType="com.hyundai.hpass.domain.Subscription">
        <![CDATA[
        SELECT
            subs_no AS subsNo,
            member_no AS memberNo,
            subs_start_dt AS subsStartDt,
            payment AS payment,
            last_date AS lastDate
        FROM SUBSCRIPTION
        WHERE member_no = #{memberNo}
        AND last_date >= TO_CHAR(sysdate, 'yyyy-mm-dd')
        ]]>
    </select>
    <update id="removeByMemberNo">
        UPDATE SUBSCRIPTION
        SET LAST_DATE = #{lastDate}
        WHERE member_no = #{memberNo}
    </update>
</mapper>